<h1>Contacts</h1>

<h3>Add a contact here:</h3>

<form action='/contact' method='post'>
  <label for='contact_names'>Contact name:</label>
  <input id='contact_names' name='contact_names' type='text'>
  <button type='submit'>Add Contact</button>
</form>

<ul>
  <% @all_contacts.each() do |contact| %>
    <li><A href="/all_contacts/<% Contact.find() %>"><%= all_contacts.name() %></a></li>
  <% end %>
</ul>
