<h1>Contacts</h1>

<h3>Add a contact here:</h3>

<form action='/contacts' method='post'>
  <label for='contact_names'>Contact name:</label>
  <input id='contact_names' name='contact_names' type='text'>
  <button type='submit'>Add Contact</button>
</form>

<ul>
  <% @contacts.each() do |contact| %>
    <li><a href="/contact/<%= contact.id %>"><%= contact.contact_names %></a></li>
  <% end %>
</ul>
